
@model ProyectoFinalLpw.Models.Facturas
<div class="modal-dialog">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">Detalle Factura</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <form action="/Factura/Edit" method="post">
            <!-- Modal body -->
            <div class="modal-body">
                <input type="hidden" name="id" value="@Model.Id" />
                <label> Nombre:</label>
                <input type="text" name="Total_Venta" value="@Model.Total_Venta" class="form-control" />
                <label>Fecha:</label>
                <input type="text" name="fecha" value="@Model.Fecha" class="form-control" />
                <label>Descripción:</label>
                <input type="text" name="fecha" value="@Model.Descripcion" class="form-control" />
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                <input type="submit" value="Editar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
